[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
sqlalchemy = "*"
marshmallow = "*"
alembic = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-api = "*"
flask-migrate = "*"
sqlalchemy-utils = "*"
passlib = "*"
colour = "*"
intervals = "*"
mixer = "*"
"psycopg2" = "*"
hypothesis = "*"
marshmallow-sqlalchemy = "*"
gunicorn = "*"
flask-admin = "*"


[dev-packages]

