[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
SQLAlchemy = "*"
marshmallow = "*"
alembic = "*"
Flask-SQLAlchemy = "*"
flask-marshmallow = "*"
Flask-API = "*"
Flask-Migrate = "*"
SQLAlchemy-Utils = "*"
passlib = "*"
colour = "*"
intervals = "*"
mixer = "*"
"psycopg2" = "*"
hypothesis = "*"


[dev-packages]

